<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>note</title>
</head>
<body>
	<h3>demo要求</h3>
	<ul>
		<li>1.由数据的变动生成DOM</li>
		<li>2.生成的DOM结构要根据输入的配置项来变动表头内容以及列数</li>
		<li>3.有分页功能，如一次显示10条或 n 条</li>
		<li>4.有翻页功能，如向前翻页，向后翻页</li>
		<li>5.有跳珠页面功能。如跳转到第几页</li>
		<li>6.</li>
	</ul>
	<h3>demo过程</h3>
	<ul>
		<li>首先，构思基本的DOM结构：通过什么样的方式来动态生成DOM？<br>首先是要设计数据结构，然后遍历数据结构确定数据数量，来生成。这样做的话，是在假分页，数据一次请求完了。</li>
		<li>分页的基本原理：向后台请求数据，协商请求数量，然后前端只负责呈现。分页时点击事件触发ajax请求，请求数据，呈现页面，如此做好像简单了点</li>
		<li>json的数据结构，只设计td部分即可，th部分由初始化时配置</li>
		<li>生成Dom结构时，可能要分两步来做：第一步先做固定的DOM结构，并在demo中先执行；第二部做根据数据变动的DOM，由第一步取得的DOM对象后插入到其中</li>
	</ul>
	<h3>遇到的问题</h3>
	<ul>
		<li>1.在一个组件中，之前生成的DOM结构，在后续的代码中可以查找DOM并取得其对象吗？即代码的执行是按行执行的，还是有先整体编译在按行执行。理论上来讲，只要不报错，应该是可行的。等待验证。<br></li>
		<li>有点复杂啊</li>
	</ul>
</body>
</html>